/* global */

body {
  font-family: Arial, sans-serif;
  font-size: 0.89rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  margin: 0;
  overflow: auto;
}

h3 {
  margin-top: 0;
  font-size: 1.3em;
}

/* landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 80vh;
  margin: 5vh auto 0;
  max-height: 1000px;
  background-color: #b692c2;
  border-radius: 3vh;

  p {
    margin: 1% 15%;
    text-align: justify;
    font-size: 1.1vw;
  }
}

.landing-image {
  position: relative;
  display: block;
  width: auto;
  height: 45%;
}

.begin-quiz-btn {
  padding: 10px 20px;
  font-size: 1vw;
  background-color: #694f8e;
  color: white;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5%;
}

.begin-quiz-btn:hover {
  background-color: #a073b9;
}

/* quiz container */
.quiz-container {
  background: #b692c2;
  padding: 20px;
  border-radius: 3vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60vw;
  height: 76vh;
  margin: 5vh auto 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.questions-wrapper {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  width: auto;
  height: auto;
  position: relative;
}

.question {
  min-width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  flex-shrink: 1;
}

.question-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.question.active {
  opacity: 1;
}

.question.inactive {
  opacity: 0;
  pointer-events: none;
}

.ranks {
  flex: 0 0 45%;
  margin-right: 5vh;
  margin-top: -1.75vh;
}

.rank-container {
  margin: 1.5vh 0;
}

.rank-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1vh;
}

.rank-dropzone {
  background: #f9f9f9;
  min-height: 0.5vh;
  margin-bottom: 1.5vh;
}

.rank-dropzone.empty {
  min-height: 0.5vh;
  margin-bottom: 1.5vh;
}

.options {
  flex: 0 0 50%;
  overflow: visible;
}

.sortable-item {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 0.5vh;
  cursor: grab;
  word-wrap: break-word;
  white-space: normal;
}

.sortable-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 5vh;
  border: 1px dashed #ccc;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.sortable-item.dragging {
  opacity: 0.5;
}

/* navigation */

.pagination-buttons {
  display: flex-start;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-bottom: 1%;
  margin-left: 21%;
}

/* calculate */
#calculateBtn {
  margin-left: auto;
  float: right;
  padding: 1.5% 2%;
  font-size: 1vw;
  background-color: #694f8e;
  color: white;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#calculateBtn:hover {
  background-color: #e3a5c7;
}

.page-number {
  padding: 1.5% 1.7%;
  margin-right: 1.2%;
  font-size: 1vw;
  background-color: #694f8e;
  color: white;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-number:hover {
  background-color: #a073b9;
  box-shadow: 0 0 0 0.15vw rgba(227, 165, 199, 0.5);
}

.page-number:focus {
  outline: none;
  box-shadow: 0 0 0 0.15vw rgba(227, 165, 199, 1);
}

.active-page {
  background-color: #b692c2;
}

/* results page */
#result {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 50vw;
  margin: 5vh auto 0;
  background-color: #b692c2;
  text-align: center;
  border-radius: 3vh;
}

.result-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.retake-quiz-btn {
  padding: 0.5vw 1vw;
  margin-top: 40%;
  position: relative;
  font-size: 1vw;
  background-color: #694f8e;
  color: white;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retake-quiz-btn:hover {
  background-color: #a073b9;
}

.button-container {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

/* screen flex */
@media (min-width: 768px) {
  .question-content {
    flex-wrap: nowrap;
  }

  .ranks {
    flex: 0 0 45%;
    margin-right: 5%;
  }

  .options {
    flex: 0 0 50%;
  }
}
